# Исключаем локальное виртуальное окружение
.venv/
venv/
env/

# Исключаем кэш инструментов
.pytest_cache/
.mypy_cache/

# Исключаем скомпилированный байт-код Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы IDE
.idea/
.vscode/
