.debug-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  text-align: left;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  gap: 20px; /* Расстояние между блоками */
}

.debug-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.debug-item {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.debug-label {
  color: #a0a0a0;
  margin-right: 10px;
}

.debug-value {
  font-weight: bold;
}

.state-value {
  color: #ffc107; /* Amber */
}

.threshold-value {
  color: #f44336; /* Red */
}
